<div id="pants-container">
  <h1>Is Rich Kilmer wearing white pants?</h1>
  <h2 class="answer no">Nope</h2>
  
  <p class="kilmerfoo no">If Rich Kilmer decided to wear his white pants every day, the rest of us mere mortals would be overwhelmed by the sheer awesome. He decided to give humanity a break today.</p>
</div>