<!DOCTYPE html>
<html>
<head>
  <title>Is Rich Kilmer Wearing White Pants?</title>
  <%= stylesheet_link_tag "fancy-pants" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

<script type="text/javascript">
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4e0203c3613f5d356c000002');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
