<!DOCTYPE html>
<html>
<head>
  <title>Is Rich Kilmer Wearing White Pants?</title>
  <%= stylesheet_link_tag "fancy-pants" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <div id="rich"></div>
  <%= yield %>
</div>
</body>
</html>
